version: '3'
services:
  front-end:
    build:
      context: .
      dockerfile: ./front-end/Dockerfile.next
    ports:
      - "127.0.0.1:7003:3000"

  back-end:
    build:
      context: .
      dockerfile: ./back-end/Dockerfile.nest
    ports:
      - "127.0.0.1:7004:4000"
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db

  db:
    image: mysql:8.1.0
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=adminMailRoot
      - MYSQL_DATABASE=mailserver
    volumes:
      - /mnt/storage/myalias.pro/database/mysql:/var/lib/mysql
      - ./front-end/init.sql:/docker-entrypoint-initdb.d/init.sql
