# docker-compose.yml
version: '3'
services:
  app:
    build: .
    ports:
      - "7004:4000"
      - "7003:3000"
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
  db:
    image: mysql:8.1.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=adminMailRoot
      - MYSQL_DATABASE=mailserver
    volumes:
      - /mnt/storage/myalias.pro/database/mysql:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql